.loader{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid red;
    border-top: 20px solid blue;
    animation: spinAnimate 3s steps(5) infinite 0s normal;
    

}
@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}