div{
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    display: inline-block;
}
body{
    background-image: url(cat_phto.jpg);
    background-size: cover;
}

#box1{
    background-image: url("cat_phto.jpg");
    background-size: cover;
}